In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
from scipy.stats import norm
from sklearn.model_selection import train_test_split

In [8]:
train=pd.read_csv('bill_authentication.csv')

In [5]:
train.shape

(1372, 5)

In [6]:
train.sample(10)

      Variance  Skewness  Curtosis   Entropy  Class
76      3.7935    7.9853  -2.54770 -1.872000      0
906    -2.9146    4.0537  -0.45699 -4.032700      1
1361   -1.5732    1.0636  -0.71232 -0.838800      1
120     3.4642   10.6878  -3.40710 -4.109000      0
645     2.9233    6.0464  -0.11168 -0.586650      0
1126   -3.3582   -7.2404  11.44190 -0.571130      1
601     2.5581    2.6218   1.85130  0.402570      0
956    -1.0744   -6.3113   5.35500  0.804720      1
240     3.2704    6.9321  -1.04560  0.234470      0
265     1.5940    4.7055   1.37580  0.081882      0

In [7]:
train['Class'].unique()

array([0, 1], dtype=int64)

In [8]:
train['Class'].value_counts()

0    762
1    610
Name: Class, dtype: int64

In [9]:
train.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [10]:
train['Entropy'].value_counts()

-0.295700    5
-0.988800    5
-0.237510    4
-7.503400    4
 0.361190    4
-0.444400    4
-0.562100    4
 0.321100    4
-0.984900    4
-0.612510    3
 0.066365    3
-1.872000    3
-1.454300    3
-6.810300    3
 1.118900    3
-5.470700    3
-4.032700    3
 0.601700    3
-0.652590    3
-0.122430    3
-2.527600    3
 0.626270    3
 0.341790    3
-5.863800    3
 0.967650    3
-0.128890    3
 0.498260    3
-0.531040    3
 0.394810    3
-1.838400    3
            ..
-0.770270    1
-3.634500    1
-0.753460    1
 1.616800    1
-3.189600    1
-0.564660    1
-5.918100    1
-1.569400    1
 1.231400    1
 1.386600    1
 0.212480    1
-3.895700    1
 0.026279    1
 1.225000    1
-1.587500    1
 1.351700    1
 1.023300    1
-0.066824    1
 0.644380    1
-0.916390    1
 2.056400    1
-1.200900    1
 1.377600    1
-1.204700    1
-2.995700    1
-5.064600    1
 0.008175    1
-2.160300    1
 0.027572    1
 1.187500    1
Name: Entropy, Length: 1156, dtype: int64

In [11]:
corr=train.corr()
corr.shape
corr

          Variance  Skewness  Curtosis   Entropy     Class
Variance  1.000000  0.264026 -0.380850  0.276817 -0.724843
Skewness  0.264026  1.000000 -0.786895 -0.526321 -0.444688
Curtosis -0.380850 -0.786895  1.000000  0.318841  0.155883
Entropy   0.276817 -0.526321  0.318841  1.000000 -0.023424
Class    -0.724843 -0.444688  0.155883 -0.023424  1.000000

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
Variance    1372 non-null float64
Skewness    1372 non-null float64
Curtosis    1372 non-null float64
Entropy     1372 non-null float64
Class       1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [13]:
train.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [11]:
x=train.values[:,0:4]  #x=train.drop('Class',axis=1)
y=train.values[:,4]    #y=train['Class]

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20,random_state=42)

In [150]:
x_train.shape

(1097, 4)

In [173]:
model=tree.DecisionTreeClassifier()#criterion=......will change model, default is gini
model=model.fit(x_train,y_train

In [171]:
pred=model.predict(x_test)

In [153]:
print(model.score(x_test,y_test)*100)

97.0909090909091

In [148]:
print(pred[5])
print(y_test[5])

0.0
0.0

In [130]:
c=[[-1.5,1.07,-.73,-.84]]
print(model.predict(c))

[1.]

In [165]:
print(accuracy_score(pred,y_test)*100)

97.0909090909091

In [174]:
print(confusion_matrix(pred,y_test))

[[147   7]
 [  1 120]]

In [176]:
print(classification_report(pred,y_test))

             precision    recall  f1-score   support

        0.0       0.99      0.95      0.97       154
        1.0       0.94      0.99      0.97       121

avg / total       0.97      0.97      0.97       275

In [9]:
#### SVM MODEL \/\/\/

from sklearn.svm import SVC

In [13]:
model2=SVC()
model2=model2.fit(x_train,y_train)

In [14]:
pred2=model2.predict(x_test)

In [15]:
print(accuracy_score(pred2,y_test))

1.0